<div id = "comment_section" >
  
  <p class="comment">
      <%= comment.comment %> &nbsp; &nbsp;
      <%= link_to "Like", post_comment_likes_path(@post, comment), method: :post %>
      <%= "#{comment.likes.count}" %>
  	 <% if comment.user_id == current_user.id %>
    <%= link_to 'edit', edit_post_comment_path(comment.post.id, comment.id)%> &nbsp;
    <%= link_to 'Delete', post_comment_path(comment.post.id, comment.id), method: :delete, remote: true %>
    <% end %>

 </p>
</div>