<!DOCTYPE html>
<html>
  <head>
    <title>TwitterLikeApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
  <div id="user_nav">
    <% if user_signed_in? %>
      <div style="text-align: left;">
      Hey <%= current_user.email %>
    </div>
   <div style="text-align: right;">
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
